@import url('https://fonts.googleapis.com/css2?family=Ruwudu:wght@400;500;600;700&family=Sedgwick+Ave+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.picSlider {
    height: 600px;
}

html {
    scroll-behavior: smooth
}

body {
    padding-top: 50px;
    font-family: 'Ruwudu', serif;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Sedgwick Ave Display', cursive;
    margin-top: 5px;
    font-style: italic;
}

.navbar-nav {
    font-size: 19px;
}


.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUs {
    background-color: #f2f2f2;
}

.brace {
    border: none;
    border-top: 3px solid #343a40;
    max-width: 250px;
    margin: 25px auto;
}

.iwhite {
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid white;
    background-color: white;
}

.igray {
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
}

.teamCard:hover {
    opacity: .8;
}

.galery img:hover {
    opacity: 0.8;
}

.contact {
    background-color: white;
}

.figure:hover {
    opacity: .8;
}